@model SoPromocao.Models.INERESSES_PROMOCIONAIS

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>INERESSES_PROMOCIONAIS</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ID_CONSUMIDOR)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ID_CONSUMIDOR)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ID_PROMOCAO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ID_PROMOCAO)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID_INTERESSES_PROMOCIONAIS }) |
    @Html.ActionLink("Back to List", "Index")
</p>
